/* global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100px; /* consistent size */
  background: #0e8142;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center; /* center lateraly */
  justify-content: space-between;
  padding: 0 30px;
  position:static;
  top: 0;
}

/* Home Logo */
header .logo img {
  height: 60px;  
  width: auto; /* scale image while keeping header height */
  cursor: pointer;
}

/* Navigation */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color:  #68916c;
  height: 100%; /* Full height */
  position: fixed; /* Make it stick, even on scroll */
}

nav ul li a {
  display: block;
  font-size: 1rem;
  color: #fafafa;
  background-color: #68916c;
  padding: 16px 16px;
  text-decoration: none;
}

nav ul li a:hover {
    background-color: #555555;
    opacity: 0.8;
    color: #d9ff00; /* hover colour */
}


div{
    margin-left: 200px;
}


body {
    display: flex;
    flex-direction: column; 
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: scroll;
    background-color: #d4ddc0;
    /* background-image: url("images/background3.jpeg"); */
}


footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 1em;
    background: #bdc2c2;
    font-size: small;
}

.hero {
    text-align: center;
    padding: 2em;
    background: #e8f5e9;
    opacity: 0.9;
    margin-left: 200px;
}

.text {
    position: relative;
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

.scale img {
    width: auto;
    vertical-align: bottom;
}
